<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATS Resume Score Checker</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <!-- Header -->

    <header>
        <h1>AI Resume ATS Analyzer</h1>
        <p>
            Analyze your resume with AI-powered ATS scoring,
            identify missing skills, and improve your interview chances.
        </p>
    </header>

    <!-- Main -->

    <main>

        <!-- Upload Card -->

        <section class="upload-card">
            <h2>Analyze Your Resume</h2>
            <form id="resume-form">
                <label for="resume" class="upload-box">
                    <input type="file" id="resume" name="resume" accept=".pdf" hidden>
                    <div class="upload-icon">📄</div>
                    <h3>Drag & Drop Resume</h3>
                    <p>or <span>Browse Resume</span></p>
                    <small>PDF only • Max 5 MB</small>
                </label>
                <label for="job_description">Job Description (Optional)</label>
                <textarea id="job_description" name="job_description" rows="10"
                    placeholder="Paste job description here..."></textarea>
                <button type="submit">Analyze Resume<span></span>→</button>
            </form>
        </section>

        <!-- Loader -->

        <section id="loader" class="hidden"><h2>Analyzing Resume...</h2></section>

        <!-- Result -->

        <section id="result" class="hidden"><!-- JavaScript will generate result here --></section>

    </main>

    <!-- Footer -->

    <footer><p>© 2026 Harshit Pundir • ATS Resume Analyzer</p></footer> 

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>